{% extends "layout.html" %}

{% block head %} 
    <title>phpms微型框架开发的blog-记录面试-记录生活</title>
    <meta name="keywords" content="php框架,phpms框架，web应用，phpms开发网站，phpms开发个人blog，简洁开发，快速开发,开源框架,开发框架,MVC,php frame,phpms的flight引擎专为api而生 "/>
    <meta name="description" content="phpms框架 - 是由吴庆宝开发维护的MVC结构的开源PHP框架，遵循Apache2开源协议发布，是为了敏捷WEB应用开发和简化企业及个人应用开发而诞生的。"/>
{% endblock %}

{% block content %}
 <div class="container">
  <form role="form" action="/tts/ttsImage" method="post">
    <div class="form-group">
      <label for="name">图片地址</label>
      <input type="text" class="form-control" name="url" 
          placeholder="请输入名称" value="https://i.niupic.com/images/2019/10/30/_199.jpg">
    </div>   
    <button type="submit" class="btn btn-default">提交</button>
  </form>
</div>             
{% endblock %}