{% extends "layout.html" %}

{% block head %} 
    <title>phpms微型框架开发的blog-记录面试-记录生活</title>
    <meta name="keywords" content="php框架,phpms框架，web应用，phpms开发网站，phpms开发个人blog，简洁开发，快速开发,开源框架,开发框架,MVC,php frame,phpms的flight引擎专为api而生 "/>
    <meta name="description" content="phpms框架 - 是由吴庆宝开发维护的MVC结构的开源PHP框架，遵循Apache2开源协议发布，是为了敏捷WEB应用开发和简化企业及个人应用开发而诞生的。"/>
{% endblock %}

{% block content %}
 <div class="container">
 
{% for val in data.mp3 %}
<audio controls="controls">
    <source src="{{ val }}" type="audio/mpeg">
</audio>
{% endfor %}
</div>   
 <div class="container">
 {% autoescape false %} {{ data.tts }}{% endautoescape %} 
  
 
</div>    
 

{% endblock %}