{% extends "admin/layout.html" %}
 
{% block title %}后台首页{% endblock %}

{% block head %}
    {{ parent() }}
    <link href="/public/skin/mstp_105_SuperAdmin/css/file-manager.css" rel="stylesheet">
    <style type="text/css">
        .important { color: #336699; }
    </style>
    
{% endblock %}

{% block skin %}
    <body id="{{ data.set.skin }}">        
{% endblock %}

{% block sidebar %}
   {% include 'admin/sidebar/index' %}
{% endblock %}

{% block content %}

<!-- Breadcrumb -->
<ol class="breadcrumb hidden-xs">
    <li><a href="#">Home</a></li>
    <li><a href="#">Library</a></li>
    <li class="active">Data</li>
</ol>

<h4 class="page-title">FILE MANAGER</h4>
                
<div id="fileManager"></div>

        
{% endblock %}

{% block footer %}
    {% include 'admin/js/tables' %}
    <script src="/public/skin/mstp_105_SuperAdmin/js/jquery-ui.min.js"></script> <!-- jQuery UI -->
    <script src="/public/skin/mstp_105_SuperAdmin/js/file-manager/elfinder.min.js"></script> <!-- File Manager -->
    <script type="text/javascript">
        $(document).ready(function() {
             $('#fileManager').elfinder({
                  resizable: false,
                  url : '/lib/connector.minimal.php',  // connector URL (REQUIRED)
                  uiOptions : {
                  toolbar : [
                          ['back', 'forward', 'home', 'reload'],
                          ['mkdir', 'mkfile', 'upload'],
                          ['view', 'sort'],
                          ['search']
                  ]},
                  height: 500
             });
             
             $('.elfinder-cwd-wrapper, .elfinder-navbar').niceScroll();
        });
    </script>      
{% endblock %}