<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <meta name="format-detection" content="telephone=no">
        <meta charset="UTF-8">

        {% block head %}
        
        {% include 'admin/css/index' %}

        <title>{% block title %}{% endblock %} - PHPMS</title>

        {% endblock %}

    </head>
    {% block skin %}
    <body id="skin-blur-violate">        
    {% endblock %}
            
        {% include 'admin/header/index' %}

        <div class="clearfix"></div>
        
        <section id="main" class="p-relative" role="main">
                        
            <aside id="sidebar">    
            <!-- Sidbar Widgets -->
            {% block sidebar %}{% endblock %}
            </aside>
            
            <!-- Content --> 
            <section id="content" class="container">
            {% block content %}{% endblock %}
            </section>           
            
        </section>
        
        {% block footer %}                
                {% include 'admin/js/index' %}
        {% endblock %}
        
        <!-- All JS functions -->
        <script src="/app/views/admin/js/functions.js"></script>
    </body>
</html>
