
{% extends "admin/layout.html" %}
 
{% block title %}后台首页{% endblock %}

{% block head %}

<link href="/public/skin/mstp_105_SuperAdmin/css/media-player.css" rel="stylesheet">
{{ parent() }}
{% endblock %}

{% block sidebar %}
   {% include 'admin/sidebar/index' %}
{% endblock %}

{% block content %}
<!-- Breadcrumb -->
<ol class="breadcrumb hidden-xs">
    <li><a href="#">Home</a></li>
    <li><a href="#">Library</a></li>
    <li class="active">Data</li>
</ol>

<h4 class="page-title">栏目管理</h4>
                    
<!-- Shortcuts -->
<div class="block-area shortcut-area">
     
    <a class="shortcut tile" href="/public/skin/mstp_105_SuperAdmin/">
        <img src="/public/skin/mstp_105_SuperAdmin/img/shortcuts/stats.png" alt="">
        <small class="t-overflow">添加</small>
    </a>
    <a class="shortcut tile" href="/public/skin/mstp_105_SuperAdmin/">
        <img src="/public/skin/mstp_105_SuperAdmin/img/shortcuts/reports.png" alt="">
        <small class="t-overflow">列表</small>
    </a>

</div>

<hr class="whiter" />

<h4 class="page-title">TABLES</h4>
                
<!-- Table Hover -->
<div class="block-area" id="tableHover">
    <h3 class="block-title">Table with Hover Style</h3>
    <div class="table-responsive overflow">
        <table class="table table-bordered table-hover tile">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Jhon </td>
                    <td>Makinton </td>
                    <td>@makinton</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Malinda</td>
                    <td>Hollaway</td>
                    <td>@hollway</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Wayn</td>
                    <td>Parnel</td>
                    <td>@wayne123</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="text-center">
    <ul class="pagination">
        <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
    </ul>
</div>
{% endblock %}


{% block footer %}
    {% include 'admin/js/tables' %}
{% endblock %}
