<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<title></title>
    <link rel="stylesheet" href="/public/tool/bootstrap3table/bootstrap.min.css"> 

	<script src="/public/tool/bootstrap3table/jquery.min.js"></script>
	<script src="/public/tool/bootstrap3table/bootstrap.min.js"></script>
	<script src="/public/tool/bootstrap3table/bootstrap-paginator.js"></script>
</head>
<body>
<div class="container">


<table class="table table-striped">
	<a href="/index.php/admin/index">supper admin</a>
	<caption>文章列表
	<label for="title">分类</label>		 
		<select id="select_table" name="pid" width="30%">
			<option value="0">顶级</option>
			{% for val in data.terms %}
			<option value="{{ val.id }}"
				{% if data.pid == val.id %}
				  selected="selected" 
				{% endif %}>{{ val.name }}
			</option>
			{% endfor %}	
		</select>
	<a href="/index.php/edit/add">&nbsp;+添加</a></caption>
	<thead>
		<tr>
			<th>id</th>
			<th>标题</th>
			<th>描述</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
		{% for val in data.posts %}
		<tr>
			<td><label><input type="checkbox" name="step" value="{{ val.id }}">{{ val.id }}</label></td>
			<td><a href="/index.php/index/postinfo/id/{{ val.id }}">{{ val.title }}</a></td>
			<td>{{ val.description }}</td>
			<td>
				<a href="/index.php/edit/mod/id/{{ val.id }}"><button type="button" class="btn btn-default" >
        		编辑        
    			</button></a> 
				<div class="btn-group-vertical">
			    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			        更多
			        <span class="caret"></span>
			    </button>
			    <ul class="dropdown-menu">
			        <li><a href="#">隐藏</a></li>
			        <li><a href="#">删除</a></li>
			    </ul>
			    </div>
			</td>
		</tr>
		{% endfor %}		
	</tbody>	
</table>

	<div id="example"></div>
	<script type="text/javascript">
	    var baseUrl = "/index.php/edit/index";
		{% if data.pid > 0 %}
			baseUrl = baseUrl+"/pid/"+{{data.pid}}
		{% endif %}
		
		$(function(){
			$("#select_table").change(function(){
				var typeCodePre =  $("#select_table").val();
				window.location.href = "/index.php/edit/index/pid/"+typeCodePre
			})
		})

	    var options = {
	            currentPage: {{ data.currentPage }},
	            totalPages: {{ data.totalPages }},
	            numberOfPages:{{ data.numberOfPages }},
	            pageUrl: function(type, page, current){                
	            	return baseUrl+"/page/"+page;
	            }	
	    }
	 

	    $('#example').bootstrapPaginator(options);    
	    $('#example ul').addClass('pagination');
	</script>

</div>
</body>
</html>