<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<title> </title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">   
	<script src="/public/js/jquery.min.js"></script>
	<script src="/public/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">


<table class="table table-striped">
	<caption>分类列表 <a href="/index.php/edit/term_add">&nbsp;+添加</a></caption> 
	<thead>
		<tr>
			<th>id</th>
			<th>标题</th>
			<th>描述</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
		{% for val in data.terms %}
		<tr>
			<td><label><input type="checkbox" name="step" value="1">{{ val.id }}</label></td>
			<td>{{ val.name }}</td>
			<td>{{ val.slug }}</td>
			<td>
				<a href="/index.php/edit/term_mod/id/{{ val.id }}"><button type="button" class="btn btn-default" >
        		编辑        
    			</button></a> 
				<div class="btn-group-vertical">
			    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			        更多
			        <span class="caret"></span>
			    </button>
			    <ul class="dropdown-menu">
			        <li><a href="#">隐藏</a></li>
			        <li><a href="#">删除</a></li>
			    </ul>
			    </div>
			</td>
		</tr>
		{% endfor %}		
	</tbody>
</table>
</div>
</body>
</html>