{% extends "layout.html" %}

{% block content %}
      {% for val in data.posts %}
      <a href="/index.php/index/postinfo/id/{{ val.id }}">
      <div data-id="{{ val.id }}">
            <h2>{{ val.title }}</h2>
            <h5>{{ val.description }}</h5>
            <div><img src="/public/img/bixin.jpg" width="30%"></div>
            <p>{{ val.created_at }} - </p>
            <p>{{ val.content }}</p>
            <br>
      </div>
      </a>
      {% endfor %}
      <script type="text/javascript">
            $(document).ready(function() {
            $("[data-id]").on("click",function(){
                  var _id = $(this).attr("data-id")
                  console.log(_id);                                    
            })
      });   
      </script>
{% endblock %}