{% extends "layout.html" %}
{% block head %} 
    <title>phpms微型框架开发的blog-记录面试-记录生活</title>
    <meta name="keywords" content="php框架,phpms框架，web应用，phpms开发网站，phpms开发个人blog，简洁开发，快速开发,开源框架,开发框架,MVC,php frame,phpms的flight引擎专为api而生 "/>
    <meta name="description" content="phpms框架 - 是由吴庆宝开发维护的MVC结构的开源PHP框架，遵循Apache2开源协议发布，是为了敏捷WEB应用开发和简化企业及个人应用开发而诞生的。"/>
{% endblock %}
{% block content %}
<div id="maincontent">
      {% for val in data.posts %}
      <a href="/index.php/index/postinfo/id/{{ val.id }}" style="text-decoration:none; color:#333; ">
      <div data-id="{{ val.id }}" class="item">
            <h2>{{ val.title }}</h2>
            <h5>{{ val.description }}</h5>
            <div><img src="/public/img/bixin.jpg" width="30%"></div>
            <p>{{ val.created_at }} - {{ val.updated_at }} </p>
            <p>{{ val.content }}</p>
            <br>
      </div>
      </a>
      {% endfor %}
      <ul class="pager">
        {% if data.previous >= 0 %}
        <li class="previous"><a href="/index.php/index/term/id/{{data.pid}}/page/{{ data.previous }}">&larr; 上一页</a></li>
        {% endif %}
        <li class="next"><a href="/index.php/index/term/id/{{data.pid}}/page/{{ data.next }}">下一页 &rarr;</a></li>
      </ul> 
 </div>      
      <script type="text/javascript">
            $(document).ready(function() {
                  $("[data-id]").on("click",function(){
                        var _id = $(this).attr("data-id") 
                  })
            });  

            var isbool=true;//触发开关，防止多次调用事件  
            var page = 1;
            $(window).scroll(function () {
                var scrollerh = $(document).scrollTop();
                //console.log(scrollerh);
                var viewbody = $(window).height();
                var allbody  = $(document).height();                
                var limit = 1;
                if (scrollerh + viewbody > allbody - 100 && isbool==true) {
                     isbool=false;
                     page++;
                     $.ajax({
                          url: "/index.php/index/ajaxposts",
                          type: "post",
                          dataType: "html",
                          async: true,
                          data: {
                              page: page,
                              limit: limit,
                              pid: 0
                          },
                          success: function (res) {
                            $('#maincontent').append(res);
                            isbool=true;              
                          }
                      });         
                }
            }) 

      </script>
      <script>
        //ajax后台获得数据
        function Getdatasource(page,limit) {            
            $.ajax({
                url: "/index.php/index/ajaxposts",
                type: "post",
                dataType: "html",
                async: true,
                data: {
                    page: page,
                    limit: limit,
                    pid: 0
                },
                success: function (res) {
                  $('#maincontent').append(res);
                  return true;                  
                }
            });
        }
      </script>       
{% endblock %}