<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 	
  {% block head %}       {% endblock %}  

   <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
   <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>
<body>

<div class="container">
    <div class="jumbotron">
        <h1>欢迎页！</h1>
        <p>这是一个提交表单实例。</p>
        <p>
        <a class="btn btn-primary btn-lg" role="button" href="/tts/Text_speech">
            文字转语音</a>
        <a class="btn btn-primary btn-lg" role="button" href="/tts/Imag_text">
            图片转文字</a>     
        <a class="btn btn-primary btn-lg" role="button" target="_blank" href="https://niupic.com/">
            牛网图床</a>   
        <a class="btn btn-primary btn-lg" role="button" href="/tts/ttsDel">
            清空缓存</a>             
        </p>
        
        <code>
  
        </code> 
    </div>
</div>

{% block content %}


{% endblock %}

 
</body>
</html>