{% extends "layout.html" %}

{% block content %}
      <h1>{{ data.post.title }}</h1>
      <h3>时间：{{ data.post.created_at }}</h3>

      <p>{% autoescape false %}{{ data.post.content }}{% endautoescape %}</p>

      <br>
      <ul class="pager">
            {% if data.previous_id > 0 %}
            <li><a href="/index.php/index/postinfo/id/{{ data.previous_id }}">上一个</a></li>
            {% endif %}

            {% if data.next_id > 0 %}
            <li><a href="/index.php/index/postinfo/id/{{ data.next_id }}">下一个</a></li>
            {% endif %}
      </ul>
      <script type="text/javascript">
            $(document).ready(function() {
            $("[data-id]").on("click",function(){
                  var _id = $(this).attr("data-id")
                  console.log(_id);                                    
            })
      });   
      </script>
{% endblock %}