{% extends "layout.html" %}

{% block head %}
    <title>{{ data.post.title }}-phpms</title>
    <meta name="keywords" content="php框架,phpms框架，web应用，phpms开发网站，phpms开发个人blog，简洁开发，快速开发,开源框架,开发框架,MVC,php frame,phpms的flight引擎专为api而生 "/>
    <meta name="description" content="{{ data.post.description }}"/>
{% endblock %} 

{% block content %}
      <h1>{{ data.post.title }}</h1>
      <h3>时间：{{ data.post.created_at }}</h3>

      <p>{% autoescape false %}{{ data.post.content }}{% endautoescape %}</p> 

      <br>
       {% for val in data.comments %}

        <div class="container">

        

        <div class="row" >
            <div class="col-md-6" 
                style="background-color: #dedef8;box-shadow: 
                inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
                <p>{% autoescape false %}{{ val.content }}{% endautoescape %}</p> 
                <span style="float: right; margin-right: 20px;">by  {{ val.nickname }}</span>
            </div>
        </div>
        </div>
       {% endfor %}
        <form role="form" action="/index.php/index/comment" method="post">
            <div class="form-group">
                <label for="name">评论</label>
                <input type="hidden" name="post_id" value="{{ data.post.id }}">
                <textarea class="form-control" rows="3" name="content"></textarea>
            </div>
            <button type="submit" class="btn btn-default">提交</button>
            <span class="help-block"> &nbsp;仅对管理员开放,支持markdown语法</span>
        </form>
      <ul class="pager">
            {% if data.previous_id > 0 %}
            <li><a href="/index.php/index/postinfo/id/{{ data.previous_id }}">上一个</a></li>
            {% endif %}

            {% if data.next_id > 0 %}
            <li><a href="/index.php/index/postinfo/id/{{ data.next_id }}">下一个</a></li>
            {% endif %}
      </ul>

      <div id="outerdiv" style="position:fixed;top:0;left:0;background:rgba(0,0,0,0.7);z-index:2;width:100%;height:100%;display:none;">
            <div id="innerdiv" style="position:absolute;">
                  <img id="bigimg" style="border:5px solid #fff;" src="" />
            </div>
      </div> 
        
        <!--PC版-->
        <div id="SOHUCS" sid="{{ data.post.id }}"></div>
        <script charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/changyan.js" ></script>
        <script type="text/javascript">
            window.changyan.api.config({
            appid: 'cyu2AKmwk',
            conf: 'prod_ceb827ff12cea5bef07bc1406952f4b6'
            });
        </script>

<!-- 代码1：放在页面需要展示的位置  -->
<!-- 如果您配置过sourceid，建议在div标签中配置sourceid、cid(分类id)，没有请忽略  -->
<div id="cyReping" sid="{{ data.post.id }}" role="cylabs" data-use="reping"></div>

<!-- 代码2：用来读取评论框配置，此代码需放置在代码1之后。 -->
<!-- 如果当前页面有评论框，代码2请勿放置在评论框代码之前。 -->
<!-- 如果页面同时使用多个实验室项目，以下代码只需要引入一次，只配置上面的div标签即可 -->
<script type="text/javascript" charset="utf-8" src="https://changyan.itc.cn/js/lib/jquery.js"></script>
<script type="text/javascript" charset="utf-8" src="https://changyan.sohu.com/js/changyan.labs.https.js?appid=cyu2AKmwk"></script>
     
      <script type="text/javascript">
      $(document).ready(function() {
            $("table").addClass("table table-bordered table-striped");

            $("#main-content img").each(function(){
                var width = 620;
                var height = 600;
                var image = $(this);
                if (image.width() > image.height()){
                  if(image.width()>width){
                    image.width(width);
                    image.height(width/image.width()*image.height());
                  }
                }else{
                  if(image.height()>height){
                    image.height(height);
                    image.width(height/image.height()*image.width());
                  }
                }
            });

            $("#main-content img").click(function() {
                    var _this = $(this);//将当前的pimg元素作为_this传入函数  
                    imgShow("#outerdiv", "#innerdiv", "#bigimg", _this);
            });

            $("[data-id]").on("click",function(){
                  var _id = $(this).attr("data-id")
                  console.log(_id);                                    
            })
      });

      function imgShow(outerdiv, innerdiv, bigimg, _this){  
          var src = _this.attr("src");//获取当前点击的pimg元素中的src属性  
          $(bigimg).attr("src", src);//设置#bigimg元素的src属性  
        
          /*获取当前点击图片的真实大小，并显示弹出层及大图*/  
          $("<img/>").attr("src", src).load(function(){  
              var windowW = $(window).width();//获取当前窗口宽度  
              var windowH = $(window).height();//获取当前窗口高度  
              var realWidth = this.width;//获取图片真实宽度  
              var realHeight = this.height;//获取图片真实高度  
              var imgWidth, imgHeight;  
              var scale = 1.0;//缩放尺寸，当图片真实宽度和高度大于窗口宽度和高度时进行缩放  
                
              if(realHeight>windowH*scale) {//判断图片高度  
                  imgHeight = windowH*scale;//如大于窗口高度，图片高度进行缩放  
                  imgWidth = imgHeight/realHeight*realWidth;//等比例缩放宽度  
                  if(imgWidth>windowW*scale) {//如宽度扔大于窗口宽度  
                      imgWidth = windowW*scale;//再对宽度进行缩放  
                  }  
              } else if(realWidth>windowW*scale) {//如图片高度合适，判断图片宽度  
                  imgWidth = windowW*scale;//如大于窗口宽度，图片宽度进行缩放  
                              imgHeight = imgWidth/realWidth*realHeight;//等比例缩放高度  
              } else {//如果图片真实高度和宽度都符合要求，高宽不变  
                  imgWidth = realWidth;  
                  imgHeight = realHeight;  
              }  
                      $(bigimg).css("width",imgWidth);//以最终的宽度对图片缩放  
                
              var w = (windowW-imgWidth)/2;//计算图片与窗口左边距  
              var h = (windowH-imgHeight)/2;//计算图片与窗口上边距  
              $(innerdiv).css({"top":h, "left":w});//设置#innerdiv的top和left属性  
              $(outerdiv).fadeIn("fast");//淡入显示#outerdiv及.pimg  
          });  
            
          $(outerdiv).click(function(){//再次点击淡出消失弹出层  
              $(this).fadeOut("fast");  
          });  
      }     
      </script>
{% endblock %}