{% extends "layout.html" %}

{% block content %}
    <style>
    .fakeimg {
        height: 200px;
         background: #aaa;
    }     
    .int{ height: 30px; text-align: left; width: 600px; }    
    .high{ color: red; }
    .msg{ font-size: 13px; }
    .onError{ color: red; }
    .onSuccess{ color: green; }     
    </style>
    <h2 id="register">用户注册：{{ token }}</h2>
    <form class="form-horizontal" role="form" action="/index.php/login/user_register_action" method="post">
        <input type="hidden" name="token" value="{{ token }}">
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">账号</label>
            <div class="col-sm-10">
                <input type="text" class="form-control required" id="name" 
                       placeholder="请输入账号" name="name">
            </div>
        </div>
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">邮箱</label>
            <div class="col-sm-10">
                <input type="text" class="form-control required" id="email" 
                       placeholder="请输入账号" name="email">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">密码</label>
            <div class="col-sm-10">
                <input type="text" class="form-control required" id="password" 
                       placeholder="请输入密码" name="password">
            </div>
        </div>
        <div class="form-group">
            <label for="code" class="col-sm-2 control-label">验证码</label>
            <div class="col-sm-10">
                <input type="text" class="form-control required"  id="code" 
                       placeholder="请输入验证码" name="code">
                <img src="/index.php/login/code" onclick= this.src="/index.php/login/code/random/"+Math.random() 
                style="cursor: pointer;padding: 7px 0px;vertical-align: middle;" 
                title="Can't see?Click to replace another verification code."/> 
            </div>
        </div>      

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button id="send" type="submit" class="btn btn-default">注册</button>
                <button type="button" class="btn btn-default" onclick="window.location.href='/index.php/login/user#login'">登录</button>
            </div>
        </div>
    </form>
<script type="text/javascript">
        //为表单元素添加失去焦点事件
        $("form :input").blur(function(){
            var $parent = $(this).parent();
            $parent.find(".msg").remove(); //删除以前的提醒元素（find()：查找匹配元素集中元素的所有匹配元素）
            //验证账号
            if($(this).is("#name")){
                var nameVal = $.trim(this.value); //原生js去空格方式：this.replace(/(^\s*)|(\s*$)/g, "")
                var regName = /[~#^$@%&!*()<>:;'"{}【】  ]/;
                if(nameVal == "" || nameVal.length < 2 || regName.test(nameVal)){
                    var errorMsg = " 账号非空，长度2位以上，不包含特殊字符！";
                    //class='msg onError' 中间的空格是层叠样式的格式
                    $parent.append("<span class='msg onError'>" + errorMsg + "</span>");
                }
                else{
                    var okMsg=" 输入正确";
                    $parent.find(".high").remove();
                    $parent.append("<span class='msg onSuccess'>" + okMsg + "</span>");
                }
            }
            //验证密码
            if($(this).is("#password")){
                var nameVal = $.trim(this.value); //原生js去空格方式：this.replace(/(^\s*)|(\s*$)/g, "")
                
                if(nameVal == "" || nameVal.length < 4){
                    var errorMsg = " 密码非空，长度4位以上";
                    //class='msg onError' 中间的空格是层叠样式的格式
                    $parent.append("<span class='msg onError'>" + errorMsg + "</span>");
                }
                else{
                    var okMsg=" 输入正确";
                    $parent.find(".high").remove();
                    $parent.append("<span class='msg onSuccess'>" + okMsg + "</span>");
                }
            }
            //验证邮箱
            if($(this).is("#email")){
                var emailVal = $.trim(this.value);
                var regEmail = /.+@.+\.[a-zA-Z]{2,4}$/;
                if(emailVal== "" || (emailVal != "" && !regEmail.test(emailVal))){
                    var errorMsg = " 请输入正确的E-Mail住址！";
                    $parent.append("<span class='msg onError'>" + errorMsg + "</span>");
                }
                else{
                    var okMsg=" 输入正确";
                    $parent.find(".high").remove();
                    $parent.append("<span class='msg onSuccess'>" + okMsg + "</span>");
                }
            }
            //验证码
            if($(this).is("#code")){
                var nameVal = $.trim(this.value); //原生js去空格方式：this.replace(/(^\s*)|(\s*$)/g, "")
                var regName = /[~#^$@%&!*()<>:;'"{}【】  ]/;
                if(nameVal == "" || nameVal.length < 5 || regName.test(nameVal)){
                    var errorMsg = " 验证码非空，长度5位";
                    //class='msg onError' 中间的空格是层叠样式的格式
                    $parent.append("<span class='msg onError'>" + errorMsg + "</span>");
                }
                else{
                    var phrase = getCookie('phrase');                   
                    var okMsg="";
                    if(phrase==nameVal){
                        okMsg="输入正确";
                    }
                    $parent.find(".high").remove();
                    $parent.append("<span class='msg onSuccess'>" + okMsg + "</span>");
                }
            }
        }).keyup(function(){
            //triggerHandler 防止事件执行完后，浏览器自动为标签获得焦点
            $(this).triggerHandler("blur"); 
        }).focus(function(){
            $(this).triggerHandler("blur");
        });
        
        //点击重置按钮时，通过trigger()来触发文本框的失去焦点事件
        $("#send").click(function(){
            var falg = true;
            //trigger 事件执行完后，浏览器会为submit按钮获得焦点
            $("form .required:input").trigger("blur"); 
            $(".required").each(function(){
                    var name = $(this).attr("name");
                    if($(this).val()==""){
                        alert($(this).attr('name')+"不能为空");
                        falg = false;return falg;
                    }                
            }) 
            //return falg;
            if(falg){
                //alert("注册成功！");
            }else{                
                return falg;
            }  
            
        });
         
        function getCookie(c_name)
        {
            if (document.cookie.length>0)
              {
              c_start=document.cookie.indexOf(c_name + "=")
              if (c_start!=-1)
                { 
                c_start=c_start + c_name.length+1 
                c_end=document.cookie.indexOf(";",c_start)
                if (c_end==-1) c_end=document.cookie.length
                return unescape(document.cookie.substring(c_start,c_end))
                } 
              }
            return ""
        }

</script>      
{% endblock %}